@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
    background-color: #1c1c1c !important;
    border: 3px solid #ffffff0d !important;
}

.swal2-icon.swal2-warning {
    border-color: #fcd34d !important;
    color: #fcd34d !important;
}

.swal2-cancel {
    outline: none;
    border: 1px solid #f43f5e !important;
}

.swal2-confirm {
    outline: none;
    border: 1px solid #2ccfbe !important;
}